/* PC */
@media (min-width: 64em) {

}

/* Mobile & tablet */
@media (max-width: 63.9375em) {
    .btn {
        padding: 15px 16px;
    }

    #nav .subnav a {
        padding: 5px 20px;
    }
    
    #tour .btn-buy-tickets {
        font-size: 16px;
    }

    .contact-form .form-control {
        padding: 15px;
        font-size: 16px;
    }

    .contact-info {
        line-height: 2;
    }

    .contact-submit-btn {
        font-size: 16px;
    }

    #footer .social-list {
        font-size: 48px;
    }

    #footer .social-list a {
        margin: 0 8px;
    }

    #footer .copyright a {
        padding: 12px 0;
        display: inline-block;
    }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em){
   
}

/* Mobile */
@media (max-width: 46.1875em) {
    .s-full-width {
        width: 100%;
    }

    .s-col-full {
        width: 100% !important;
    }

    .s-mt-8 {
        margin-top: 8px !important;
    }

    #header {
        overflow: hidden;
    }
    
    #header .mobile-menu-btn {
        display: block;
    }
    
    #header .search-btn {
        display: none;
    }
    
    #nav {
        display: block;
    }
    
    #nav > li {
        display: block;
    }
    
    #nav > li:first-child {
        display: inline-block;
    }   
    
    #nav .subnav {
        position: initial; 
        /* mặc đinh */
        background-color: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }

    #nav > li:hover > a {
        display: block;
    }

    #slider .text-heading {
        font-size: medium;
    }

    #slider .text-description {
        font-size: small;
    }


    #content .member-img {
        width: 60%;
    }

    #content .member-name {
        margin-top: 20px;
    }

    #content hr {
        display: none;
    }
    
    #content .member-column-half {
        display: initial;
        justify-content: center;
    }
    
    #content .content-section {
        padding-bottom: 64px;
    }

    #content .member-name {
        margin-top: 8px;
    }

    .contact-form {
        margin-top: 32px;
    }
}
