* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* 
1. Vị trí
2. Kích thước (width, height)
3. Màu sắc
4. Kiểu dáng, style, hình...
*/
html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#main {

}

#header {
    position: fixed;  /*thuộc tính fixed làm mất block - tự động chiếm hết không gian*/ 
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
    z-index: 1;
}

#nav, .subnav {
    list-style-type: none;
}

#nav {
    display: inline-block;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;  /* bằng chiều cao header để căn giữa */
    padding: 0px 24px;
    display: block;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav > li:hover > a {
    background-color: #ccc;
    color :#000;
    display: inline-block;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav {
    position: absolute;
    background-color: #fff;
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width: 120px;
    top: 100%;
}

#nav .subnav a {
    color: #000;
    display: block;
    padding: 0 20px;
    line-height: 38px;
    
}

#nav .subnav li:hover {
    background-color: #ccc;
}

#nav .nav-arrow-down {
    font-size: 12px;
}

#header .search-btn {
    float: right;
    padding: 0 21px;
    cursor: pointer;
}

#header .search-icon {
    color: #fff;
    line-height: 46px;
   
}

#header .search-btn:hover {
    background-color: #f44336
}


#slider {
    min-height: 600px;
    margin-top: 46px;
    padding-top: 66.67%;
    background: url('/assets/img/slider/slider1.png') top center / cover no-repeat ;
    position: relative;
}


#slider .text-content {
    position: absolute;
    bottom: 10%;
    color: #fff;
    left: 70%;
    font-size: xx-large;
}

#slider .text-heading {
    font-weight: 500px;
    font-size: 50px;
}

#slider .text-description {
    font-size: xx-large;
    margin-top: 25px;
}


#content {

}

#footer {

}